# Tugas Python Machine Learning with PACMANN AI

## Intro to Sentiment Analysis : Text Preprocessing

##  Dataset Information

A sentiment analysis job about the problems of each major U.S. airline. Twitter data was scraped from February of 2015 and contributors were asked to first classify positive, negative, and neutral tweets, followed by categorizing negative reasons (such as "late flight" or "rude service"). From this data we can analyze how travelers in February 2015 expressed their feelings on Twitter.
 
Source : https://www.kaggle.com/crowdflower/twitter-airline-sentiment
 
### Content
Original data contains 15 columns : tweet_id, airline_sentiment, airline_sentiment_confidence, negativereason, negativereason_confidence, airline, airline_sentiment_gold, name, negativereason_gold, retweet_count, text, tweet_coord, tweet_created, tweet_location, user_timezone

In this exercise we only do preprocessing for time, coordinate, and text

## 1. Importing Data to Python

In [1]:
# import libary pandas

import pandas as pd

In [2]:
# load data training_text.csv

data = pd.read_csv('../datasets/training_text.csv')

In [3]:
# cek head dari data

data.head()

,Unnamed: 0,time,coordinate,text
0,0,2015-02-24 11:35:52 -0800,NaN,@VirginAmerica What @dhepburn said.
1,1,2015-02-24 11:15:59 -0800,NaN,@VirginAmerica plus you've added commercials t...
2,2,2015-02-24 11:15:48 -0800,NaN,@VirginAmerica I didn't today... Must mean I n...
3,3,2015-02-24 11:15:36 -0800,NaN,@VirginAmerica it's really aggressive to blast...
4,4,2015-02-24 11:14:45 -0800,NaN,@VirginAmerica and it's a really big bad thing...

In [4]:
# cek apakah ada data yang kosong

data.isnull().sum()

Unnamed: 0        0
time              0
coordinate    13621
text              0
dtype: int64

## 2. Preprocessing

### a. Time
Informasi pada kolom `time` sebaiknya diurai menjadi kolom-kolom tertentu agar dapat diproses dengan lebih baik oleh model

In [5]:
# cek tipe data dari kolom time

type(data['time'][0])

str

In [6]:
# ambil data kolom 'time'
# assign ke variabel data_time

data_time = data['time']

In [7]:
# cek head dari data_time

data_time.head()

0    2015-02-24 11:35:52 -0800
1    2015-02-24 11:15:59 -0800
2    2015-02-24 11:15:48 -0800
3    2015-02-24 11:15:36 -0800
4    2015-02-24 11:14:45 -0800
Name: time, dtype: object

In [8]:
# pisahkan isi data berdasarkan spasi : ' '

data_time = data_time.str.split(' ')

In [9]:
# ubah ke dalam bentuk list

data_time = data_time.tolist()

In [10]:
# buat ke dalam DataFrame
# pastikan indeksnya tidak berubah

data_time_df = pd.DataFrame(data_time, index = data.index)

In [11]:
# cek head dari data

data_time_df.head()

            0         1      2
0  2015-02-24  11:35:52  -0800
1  2015-02-24  11:15:59  -0800
2  2015-02-24  11:15:48  -0800
3  2015-02-24  11:15:36  -0800
4  2015-02-24  11:14:45  -0800

In [12]:
# ganti nama kolom agar sesuai

data_time_df.columns = ['date','time','GMT']

In [13]:
# cek head dari data

data_time_df.head()

         date      time    GMT
0  2015-02-24  11:35:52  -0800
1  2015-02-24  11:15:59  -0800
2  2015-02-24  11:15:48  -0800
3  2015-02-24  11:15:36  -0800
4  2015-02-24  11:14:45  -0800

### Exercise!
* Uraikan kolom ['date'] menjadi kolom ['year','month','day']
* Uraikan kolom ['time] menjadi kolom ['hour','minute','second']

### Date

In [14]:
date_data = data_time_df['date']

In [15]:
date_data.head()

0    2015-02-24
1    2015-02-24
2    2015-02-24
3    2015-02-24
4    2015-02-24
Name: date, dtype: object

In [16]:
date_data = date_data.str.split('-')

In [17]:
date_data = date_data.tolist()

In [18]:
date_data_df = pd.DataFrame(date_data, index = data.index)

In [19]:
date_data_df.head()

      0   1   2
0  2015  02  24
1  2015  02  24
2  2015  02  24
3  2015  02  24
4  2015  02  24

In [20]:
date_data_df.columns = ['year', 'month', 'day']

In [21]:
date_data_df.head()

   year month day
0  2015    02  24
1  2015    02  24
2  2015    02  24
3  2015    02  24
4  2015    02  24

### Time

In [22]:
time_data = data_time_df['time']

In [23]:
time_data.head()

0    11:35:52
1    11:15:59
2    11:15:48
3    11:15:36
4    11:14:45
Name: time, dtype: object

In [24]:
time_data = time_data.str.split(':')

In [25]:
time_data = time_data.tolist()

In [26]:
time_data_df = pd.DataFrame(time_data, index = data.index)

In [27]:
time_data_df.head()

    0   1   2
0  11  35  52
1  11  15  59
2  11  15  48
3  11  15  36
4  11  14  45

In [28]:
time_data_df.columns = ['hour', 'minute', 'second']

In [29]:
time_data_df.head()

  hour minute second
0   11     35     52
1   11     15     59
2   11     15     48
3   11     15     36
4   11     14     45

### b. Coordinate 
Informasi pada kolom `coordinate` sebaiknya diurai menjadi kolom-kolom tertentu agar dapat diproses dengan lebih baik oleh model

In [30]:
# cek tipe data dari kolom coordinate

type(data['coordinate'][0])

float

In [31]:
# Ambil data coordinate

data_coordinate = data['coordinate']
data_coordinate.head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: coordinate, dtype: object

In [32]:
# lihat bentuk data dengan value_counts

data_coordinate.value_counts(normalize=True)

[0.0, 0.0]                      0.160942
[40.64656067, -73.78334045]     0.005888
[32.91792297, -97.00367737]     0.002944
[40.64646912, -73.79133606]     0.002944
[39.1766101, -76.6700606]       0.001963
[40.69017276, -73.91646118]     0.001963
[32.82813261, -97.25115941]     0.001963
[39.83426941, -104.69960636]    0.001963
[34.0213466, -118.45229268]     0.001963
[37.99311597, -84.52114659]     0.001963
[40.69002464, -73.91638072]     0.001963
[18.22245647, -63.00369733]     0.001963
[40.68996177, -73.91640136]     0.001963
[33.75539049, -116.36196163]    0.001963
[35.22643463, -80.93879965]     0.001963
[33.75348859, -116.36209633]    0.001963
[40.68994668, -73.91637642]     0.001963
[37.62006843, -122.38822083]    0.001963
[37.78618135, -122.45742542]    0.001963
[29.98442078, -90.25340271]     0.000981
[39.86311565, -104.67610845]    0.000981
[41.97888728, -87.90617197]     0.000981
[41.97862209, -87.91469774]     0.000981
[34.02763089, -118.49627894]    0.000981
[42.361016, -71.02000488]       0.000981
[39.8893997, -75.219676]        0.000981
[29.7420124, -95.5606921]       0.000981
[29.98378319, -95.33473143]     0.000981
[25.79939784, -80.27038889]     0.000981
[37.78915629, -122.4148408]     0.000981
                                  ...
[40.69522398, -74.1760931]      0.000981
[33.94729537, -118.40196951]    0.000981
[-38.0269936, 145.2110041]      0.000981
[39.1766716, -76.6694354]       0.000981
[39.87455718, -75.24082121]     0.000981
[37.93609081, -107.81826687]    0.000981
[33.7008468, -118.0192094]      0.000981
[41.24222981, -77.02647239]     0.000981
[4.69840554, -74.14134323]      0.000981
[41.06938783, -73.73394372]     0.000981
[36.08576903, -115.14953095]    0.000981
[39.98272482, -86.22502919]     0.000981
[35.8271843, -87.43714049]      0.000981
[41.19758614, -73.76914167]     0.000981
[35.2238122, -80.9435393]       0.000981
[43.19825137, -70.87335749]     0.000981
[39.87414824, -75.25238981]     0.000981
[40.89343356, -74.29961359]     0.000981
[36.08546367, -115.31814055]    0.000981
[40.71716644, -73.96426215]     0.000981
[25.7789509, -80.1353866]       0.000981
[30.44405028, -84.23614305]     0.000981
[40.64527481, -73.77615604]     0.000981
[32.90431463, -97.03489789]     0.000981
[38.88839871, -94.62041633]     0.000981
[37.62068265, -122.38816957]    0.000981
[45.67912434, -111.04847959]    0.000981
[35.46005368, -80.68267946]     0.000981
[34.10971017, -118.32188864]    0.000981
[37.6208766, -122.3867929]      0.000981
Name: coordinate, dtype: float64

In [33]:
# isi data kosong dengan nilai 0.0 dan sesuaikan formatnya

data_coordinate = data_coordinate.fillna(value = "[0.0, 0.0]")

In [34]:
# cek head dari data

data_coordinate.head()

0    [0.0, 0.0]
1    [0.0, 0.0]
2    [0.0, 0.0]
3    [0.0, 0.0]
4    [0.0, 0.0]
Name: coordinate, dtype: object

In [35]:
# ambil bagian data yang diperlukan

data_coordinate = data_coordinate.str[1:-1]

In [36]:
# cek head dari data

data_coordinate.head()

0    0.0, 0.0
1    0.0, 0.0
2    0.0, 0.0
3    0.0, 0.0
4    0.0, 0.0
Name: coordinate, dtype: object

### Exercise!
* Uraikan kolom ['coordinate'] menjadi kolom ["latitude", "longitude"]

In [37]:
coord_data = data_coordinate.str.split(',')

In [38]:
coord_data = coord_data.tolist()

In [39]:
coord_data_df = pd.DataFrame(coord_data, index = data.index)

In [40]:
coord_data_df.head()

     0     1
0  0.0   0.0
1  0.0   0.0
2  0.0   0.0
3  0.0   0.0
4  0.0   0.0

In [41]:
coord_data_df.columns = ['latitude', 'longitude']

In [42]:
coord_data_df.head()

  latitude longitude
0      0.0       0.0
1      0.0       0.0
2      0.0       0.0
3      0.0       0.0
4      0.0       0.0

In [43]:
# cek tipe data dari masing-masin kolom ["latitude", "longitude"]

print(type(coord_data_df['latitude'][0]))
print(type(coord_data_df['longitude'][0]))

<class 'str'>
<class 'str'>

Kembalikan data kolom ["latitude", "longitude"] ke dalam format numerik, gunakan : <br>
data[column_name] = pd.to_numeric(data[column_name])

In [44]:
coord_data_df['latitude'] = pd.to_numeric(coord_data_df['latitude'])
coord_data_df['longitude'] = pd.to_numeric(coord_data_df['longitude'])

In [45]:
print(type(coord_data_df['latitude'][0]))
print(type(coord_data_df['longitude'][0]))

<class 'numpy.float64'>
<class 'numpy.float64'>

### Exercise!
### Buat function untuk memisahkan data pada sebuah kolom

Function dinamakan dengan `columnSplit` dan menerima 3 argument yaitu:

 1. `data`: kolom data yang hendak dipisahkan
 2. `splitter`    : batas pemisah pada data
 3. `columns_name` : nama kolom baru
 
Lalu assign function tersebut pada suatu variabel yang dengan nama `data_ .... `

Kemudian lakukan kembali pemisahan dengan menggunakan function columnSplit pada : 
* kolom data['time'] menjadi kolom ['date', 'time','GMT']
* kolom ['date'] menjadi kolom ['year','month','day']
* kolom ['time] menjadi kolom ['hour','minute','second']

In [46]:
# define columnSplit function

def columnSplit(data, splitter, columns_name):
    data = pd.DataFrame(data.str.split(splitter).tolist(),
                        columns = columns_name,
                        index = data.index)

    return data

In [47]:
# kolom data['time'] menjadi kolom ['date', 'time','GMT']

data_time_full = columnSplit(data['time'], ' ', ['date', 'time', 'GMT'])

In [48]:
# kolom ['date'] menjadi kolom ['year','month','day']

data_date = columnSplit(data_time_full['date'], '-', ['year', 'month', 'day'])

In [49]:
# kolom ['time] menjadi kolom ['hour','minute','second']

data_hour = columnSplit(data_time_full['time'], ':', ['hour', 'minute', 'second'])

### c. Text

In [50]:
# ambil data dari kolom data["text"] 

text = data["text"]

In [51]:
# cek head dari data

text.head()

0                  @VirginAmerica What @dhepburn said.
1    @VirginAmerica plus you've added commercials t...
2    @VirginAmerica I didn't today... Must mean I n...
3    @VirginAmerica it's really aggressive to blast...
4    @VirginAmerica and it's a really big bad thing...
Name: text, dtype: object

####  i. Regular Expression

A regular expression (or RE) specifies a set of strings that matches it; the functions in this module let you check if a particular string matches a given regular expression (or if a given regular expression matches a particular string, which comes down to the same thing).
<br>
Further reference : https://web.stanford.edu/~jurafsky/slp3/slides/2_TextProc.pdf (p1-8)

In [52]:
# import library re

import re

In [53]:
# ambil data baris tertentu, misal 7

raw_text = text[7]
raw_text

'@VirginAmerica Really missed a prime opportunity for Men Without Hats parody, there. https://t.co/mWpG7grEZP'

In [54]:
# pastikan formatnya menjadi string

raw_text = str(raw_text)
raw_text

'@VirginAmerica Really missed a prime opportunity for Men Without Hats parody, there. https://t.co/mWpG7grEZP'

In [55]:
# cek dokumentasi dari re.sub
?re.sub

re.sub(pattern, repl, string, count=0, flags=0) : <br>
Return the string obtained by replacing the leftmost
non-overlapping occurrences of the pattern in string by the
replacement repl.  repl can be either a string or a callable;
if a string, backslash escapes in it are processed.  If it is
a callable, it's passed the match object and must return
a replacement string to be used.

In [56]:
# hapus simbol pada teks, ganti menjadi spasi

# '[^A-Za-z0-9]+'  :
#    [] menujukkan himpunan yang diinginkan
#    - menunjukkan range
#    ^ menunjukkan negasi
#    + menunjukkan teks dengan karakter sejenis
#      misal : baa+ dapat merujuk pada baa, baaa, baaaa, baaaaa

raw_text = re.sub('[^A-Za-z0-9]+', ' ', raw_text)

#  argumen diatas memiliki arti untuk karakter selain A-Z,a-z,dan 0-9 akan diganti menjadi ' ' (spasi)

raw_text

' VirginAmerica Really missed a prime opportunity for Men Without Hats parody there https t co mWpG7grEZP'

In [57]:
# hapus spasi berlebih

raw_text = re.sub(' +',' ',raw_text.strip())
raw_text

'VirginAmerica Really missed a prime opportunity for Men Without Hats parody there https t co mWpG7grEZP'

In [58]:
# ubah menjadi huruf kecil

raw_text = raw_text.lower()
raw_text

'virginamerica really missed a prime opportunity for men without hats parody there https t co mwpg7grezp'

#### ii. Stemming and Lemmatization

For grammatical reasons, documents are going to use different forms of a word, such as organize, organizes, and organizing. Additionally, there are families of derivationally related words with similar meanings, such as democracy, democratic, and democratization. In many situations, it seems as if it would be useful for a search for one of these words to return documents that contain another word in the set.

The goal of both stemming and lemmatization is to reduce inflectional forms and sometimes derivationally related forms of a word to a common base form. For instance:

> am, are, is $\Rightarrow$ be <br>
> car, cars, car's, cars' $\Rightarrow$ car<br>
> cats, catty  $\Rightarrow$ cat <br>
> stemming, stemmer, stemmed  $\Rightarrow$ stem <br>
> fisher, fishing, fished  $\Rightarrow$ fish

The result of this mapping of text will be something like:
>the boy's cars are different colors $\Rightarrow$ the boy car be differ color

However, the two words differ in their flavor. Stemming usually refers to a crude heuristic process that chops off the ends of words in the hope of achieving this goal correctly most of the time, and often includes the removal of derivational affixes. Lemmatization usually refers to doing things properly with the use of a vocabulary and morphological analysis of words, normally aiming to remove inflectional endings only and to return the base or dictionary form of a word, which is known as the lemma <br><br>

Further reference : https://nlp.stanford.edu/IR-book/html/htmledition/stemming-and-lemmatization-1.html

In [59]:
# import library untuk stem

from nltk.stem import SnowballStemmer, WordNetLemmatizer
stemmer = SnowballStemmer("english")
lemmatizer = WordNetLemmatizer()

Further reference on SnowballStemmer : http://snowball.tartarus.org/texts/introduction.html <br>
Further reference on WordNetLemmatizer : https://wordnet.princeton.edu/

<font color='red'>======================================================================</font><br>
Sebelum melakukan "Stemming and Lemmatization", ekstrak isi nltk_data.rar ke Drive C:<br>
Pastikan directory C:\nltk_data\corpora berisi folder wordnet dan file wordnet.zip
<font color='red'>======================================================================</font><br>

In [60]:
# ambil data raw_text, assign ke stem_text

stem_text = str(raw_text)
stem_text

'virginamerica really missed a prime opportunity for men without hats parody there https t co mwpg7grezp'

In [61]:
# pisahkan kalimat ke dalam kata berdasarkan spasi

stem_text = stem_text.split(" ")
stem_text

['virginamerica',
 'really',
 'missed',
 'a',
 'prime',
 'opportunity',
 'for',
 'men',
 'without',
 'hats',
 'parody',
 'there',
 'https',
 't',
 'co',
 'mwpg7grezp']

In [62]:
# lakukan stem dengan stemmer untuk tiap kata dalam kalimat

stem_text = [stemmer.stem(word) for word in stem_text]
stem_text

['virginamerica',
 'realli',
 'miss',
 'a',
 'prime',
 'opportun',
 'for',
 'men',
 'without',
 'hat',
 'parodi',
 'there',
 'https',
 't',
 'co',
 'mwpg7grezp']

In [63]:
# gabung kembali kata-kata menjadi kalimat

stem_text = " ".join(stem_text)
stem_text

'virginamerica realli miss a prime opportun for men without hat parodi there https t co mwpg7grezp'

In [64]:
# ambil stem_text dan assign ke lemmatize_text
# pisahkan tiap kata dalam kalimat berdasarkan spasi

lemmatize_text = stem_text.split(" ")
lemmatize_text

['virginamerica',
 'realli',
 'miss',
 'a',
 'prime',
 'opportun',
 'for',
 'men',
 'without',
 'hat',
 'parodi',
 'there',
 'https',
 't',
 'co',
 'mwpg7grezp']

In [65]:
# lemmatize tiap kata dalam kalimat

lemmatize_text = [lemmatizer.lemmatize(word) for word in lemmatize_text]
lemmatize_text

['virginamerica',
 'realli',
 'miss',
 'a',
 'prime',
 'opportun',
 'for',
 'men',
 'without',
 'hat',
 'parodi',
 'there',
 'http',
 't',
 'co',
 'mwpg7grezp']

In [66]:
# gabung tiap kata-kata menjadi kalimat

lemmatize_text = " ".join(lemmatize_text)
lemmatize_text

'virginamerica realli miss a prime opportun for men without hat parodi there http t co mwpg7grezp'

In [67]:
# tampilkan raw_text, stem_text, dan lemmatize_text
# amati perbedaannya

print(raw_text)
print(stem_text)
print(lemmatize_text)

virginamerica really missed a prime opportunity for men without hats parody there https t co mwpg7grezp
virginamerica realli miss a prime opportun for men without hat parodi there https t co mwpg7grezp
virginamerica realli miss a prime opportun for men without hat parodi there http t co mwpg7grezp


### Exercise!
* Lakukan preprocessing text seperti di atas pada baris data text yang lain, misal text[9]

In [68]:
text9 = text[9]
text9

"@VirginAmerica it was amazing, and arrived an hour early. You're too good to me."

In [69]:
text9 = str(text9)
text9

"@VirginAmerica it was amazing, and arrived an hour early. You're too good to me."

In [70]:
text9 = re.sub('[^A-Za-z0-9]+', ' ', text9)
text9

' VirginAmerica it was amazing and arrived an hour early You re too good to me '

In [71]:
text9 = re.sub(' +', ' ', text9.strip())
text9

'VirginAmerica it was amazing and arrived an hour early You re too good to me'

In [72]:
text9 = text9.lower()
text9

'virginamerica it was amazing and arrived an hour early you re too good to me'

In [73]:
stem_text9 = text9.split(' ')
stem_text9

['virginamerica',
 'it',
 'was',
 'amazing',
 'and',
 'arrived',
 'an',
 'hour',
 'early',
 'you',
 're',
 'too',
 'good',
 'to',
 'me']

In [74]:
stem_text9 = [stemmer.stem(word) for word in stem_text9]
stem_text9

['virginamerica',
 'it',
 'was',
 'amaz',
 'and',
 'arriv',
 'an',
 'hour',
 'earli',
 'you',
 're',
 'too',
 'good',
 'to',
 'me']

In [75]:
stem_text9 = ' '.join(stem_text9)
stem_text9

'virginamerica it was amaz and arriv an hour earli you re too good to me'

In [76]:
lemmatize_text9 = stem_text9.split(' ')
lemmatize_text9

['virginamerica',
 'it',
 'was',
 'amaz',
 'and',
 'arriv',
 'an',
 'hour',
 'earli',
 'you',
 're',
 'too',
 'good',
 'to',
 'me']

In [77]:
lemmatize_text9 = [lemmatizer.lemmatize(word) for word in lemmatize_text9]
lemmatize_text9

['virginamerica',
 'it',
 'wa',
 'amaz',
 'and',
 'arriv',
 'an',
 'hour',
 'earli',
 'you',
 're',
 'too',
 'good',
 'to',
 'me']

In [78]:
lemmatize_text9 = ' '.join(lemmatize_text9)
lemmatize_text9

'virginamerica it wa amaz and arriv an hour earli you re too good to me'

In [79]:
print(text9)
print(stem_text9)
print(lemmatize_text9)

virginamerica it was amazing and arrived an hour early you re too good to me
virginamerica it was amaz and arriv an hour earli you re too good to me
virginamerica it wa amaz and arriv an hour earli you re too good to me

###### re, Stem, Lemmatize pada seluruh data

In [80]:
clear_text = pd.Series([])

In [81]:
for i in text.index:
    string = str(text[i])
    string = re.sub('[^A-Za-z0-9]+', ' ', string)    
    string = re.sub(' +',' ',string.strip())
    clear_text[i] = string.lower()

In [82]:
clear_text.head()

0                     virginamerica what dhepburn said
1    virginamerica plus you ve added commercials to...
2    virginamerica i didn t today must mean i need ...
3    virginamerica it s really aggressive to blast ...
4    virginamerica and it s a really big bad thing ...
dtype: object

In [83]:
import nltk
from nltk.stem import SnowballStemmer, WordNetLemmatizer

In [84]:
stemmer = SnowballStemmer("english")
lemmatizer = WordNetLemmatizer()
stem_text = pd.Series([])
lemmatize_text = pd.Series([])

In [85]:
for i in clear_text.index:
    string = clear_text[i]
    string = str(string)
    string = string.split(" ")
    string = [stemmer.stem(word) for word in string]
    string = " ".join(string)
    stem_text[i] = str(string)

In [86]:
stem_text.head()

0                     virginamerica what dhepburn said
1    virginamerica plus you ve ad commerci to the e...
2    virginamerica i didn t today must mean i need ...
3    virginamerica it s realli aggress to blast obn...
4    virginamerica and it s a realli big bad thing ...
dtype: object

In [87]:
for i in stem_text.index:
    string = stem_text[i]
    string = str(string)
    string = string.split(" ")
    string = [lemmatizer.lemmatize(word) for word in string]
    string = " ".join(string)
    lemmatize_text[i] = str(string)

In [88]:
lemmatize_text.head()

0                     virginamerica what dhepburn said
1    virginamerica plus you ve ad commerci to the e...
2    virginamerica i didn t today must mean i need ...
3    virginamerica it s realli aggress to blast obn...
4    virginamerica and it s a realli big bad thing ...
dtype: object

In [89]:
clean_text = lemmatize_text

#### iv. TF-IDF

TF: Term Frequency <br>
Measures how frequently a term occurs in a document<br><br>
IDF: Inverse Document Frequency<br>
Measures how important a term is<br><br>
Further reference : Chapter 15.2 from Christopher D. Manning, Hinrich Schütze-Foundations of Statistical Natural Language Processing-The MIT Press (1999)

In [90]:
# import TfidfVectorizer

from sklearn.feature_extraction.text import TfidfVectorizer

In [91]:
# define vectorizer

vectorizer = TfidfVectorizer(min_df=500, stop_words="english")

Keterangan argument input untuk TfidfVectorizer : <br>
min_df : float in range [0.0, 1.0] or int, default=1
    > When building the vocabulary ignore terms that have a document
    frequency strictly lower than the given threshold. This value is also
    called cut-off in the literature.
    If float, the parameter represents a proportion of documents, integer
    absolute counts.
    This parameter is ignored if vocabulary is not None.
 
stop_words : string {'english'}, list, or None (default)
    > If a string, it is passed to _check_stop_list and the appropriate stop
    list is returned. 'english' is currently the only supported string
    value.

In [92]:
# fit vectorizer

vectorizer.fit(clean_text)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=500,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words='english', strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

In [93]:
# transform data clean_text

tf_idf = vectorizer.transform(clean_text)

In [94]:
# buat hasil TfidfVectorizer ke dalam DataFrame

feature_word = pd.DataFrame(tf_idf.toarray(), columns=vectorizer.get_feature_names(), 
                                index = text.index)

In [95]:
# cek head dari data

feature_word.head()

,airlin,americanair,amp,bag,cancel,custom,day,delay,fli,flight,...,southwestair,thank,time,tri,unit,usairway,virginamerica,wa,wait,whi
0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,0.0
1,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,0.0
2,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.727886,0.0,0.0,0.0
3,0.0,0.0,0.692405,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.721509,0.0,0.0,0.0
4,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,0.0

### Exercise!
### Buat function untuk memisahkan data pada sebuah kolom

Function dinamakan dengan `tfidfFeature` dan menerima 2 argument yaitu:

 1. `text`: kolom data yang hendak dipisahkan
 2. `vectorizer`    : batas pemisah pada data

Function mengembalikan `feature_word` dan `vectorizer` yang telah difit.

In [96]:
tfidf = TfidfVectorizer(min_df=500, stop_words='english')

In [97]:
#define function

def tfidfFeature(text, vectorizer):
    vectorizer.fit(text)
    
    tf_idf = vectorizer.transform(text)
    feature_word = pd.DataFrame(tf_idf.toarray(),
                               columns=vectorizer.get_feature_names(),
                               index=text.index)
    
    return feature_word, vectorizer

In [98]:
feature_word, tfidf = tfidfFeature(clean_text, tfidf)

In [99]:
feature_word.head()

,airlin,americanair,amp,bag,cancel,custom,day,delay,fli,flight,...,southwestair,thank,time,tri,unit,usairway,virginamerica,wa,wait,whi
0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,0.0
1,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,0.0
2,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.727886,0.0,0.0,0.0
3,0.0,0.0,0.692405,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.721509,0.0,0.0,0.0
4,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,0.0