# Tugas Python Machine Learning with <font color='orange'> PACMANN</font> AI

## Machine Learning Process <font color='blue'> Flowchart </font>:
### 1. <font color='blue'> Importing Data to Python</font> 
    * Drop Duplicates 
### 2. <font color='blue'> Data Preprocessing:</font> 
    * Input-Output Split, Train-Test Split
    * Imputation, Processing Categorical, Normalization 
### 3. <font color='blue'> Training Machine Learning:</font> 
    * Choose Score to optimize and Hyperparameter Space

## 1. <font color='blue'> Importing Data to Python</font>

In [1]:
# Import libraries

import numpy as np # Import Numpy sebagai np
import pandas as pd # Lalu import pandas sebagai pd

## Get Dataset

Dibawah merupakan dokumentasi mengenai dataet yang akan digunakan. Data terdiri atas 2 kategori yaitu Numerical dan Categorical.

### Dataset Information

This dataset contains information on default payments, demographic factors, credit data, history of payment, and bill statements of credit card clients in Taiwan from April 2005 to September 2005.

### Content

There are 25 variables:

- ID: ID of each client
- LIMIT_BAL: Amount of given credit in NT dollars (includes individual and family/supplementary credit
- SEX: Gender (1=male, 2=female)
- EDUCATION: (1=graduate school, 2=university, 3=high school, 4=others, 5=unknown, 6=unknown)
- MARRIAGE: Marital status (1=married, 2=single, 3=others)
- AGE: Age in years
- PAY_0: Repayment status in September, 2005 (-1=pay duly, 1=payment delay for one month, 2=payment delay for two months, ... 8=payment delay for eight months, 9=payment delay for nine months and above)
- PAY_2: Repayment status in August, 2005 (scale same as above)
- PAY_3: Repayment status in July, 2005 (scale same as above)
- PAY_4: Repayment status in June, 2005 (scale same as above)
- PAY_5: Repayment status in May, 2005 (scale same as above)
- PAY_6: Repayment status in April, 2005 (scale same as above)
- BILL_AMT1: Amount of bill statement in September, 2005 (NT dollar)
- BILL_AMT2: Amount of bill statement in August, 2005 (NT dollar)
- BILL_AMT3: Amount of bill statement in July, 2005 (NT dollar)
- BILL_AMT4: Amount of bill statement in June, 2005 (NT dollar)
- BILL_AMT5: Amount of bill statement in May, 2005 (NT dollar)
- BILL_AMT6: Amount of bill statement in April, 2005 (NT dollar)
- PAY_AMT1: Amount of previous payment in September, 2005 (NT dollar)
- PAY_AMT2: Amount of previous payment in August, 2005 (NT dollar)
- PAY_AMT3: Amount of previous payment in July, 2005 (NT dollar)
- PAY_AMT4: Amount of previous payment in June, 2005 (NT dollar)
- PAY_AMT5: Amount of previous payment in May, 2005 (NT dollar)
- PAY_AMT6: Amount of previous payment in April, 2005 (NT dollar)
default.payment.next.month: Default payment (1=yes, 0=no)

In [2]:
# Baca dataset "credit_data.csv" dengan menggunakan function read_csv()

data_credit = pd.read_csv("credit_data.csv", delimiter=";")


# Check 5 Observasi pertama dataset

data_credit.head()

,Unnamed: 0,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,0,NaN,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,1,120000.0,2.0,2.0,2.0,26.0,-1.0,2.0,NaN,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,NaN,1
2,2,NaN,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,3,50000.0,2.0,NaN,1.0,37.0,0.0,NaN,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,NaN,1069.0,1000.0,0
4,4,50000.0,NaN,NaN,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,NaN,10000.0,9000.0,689.0,679.0,0

## Droping Duplicates

In [3]:
# Cek shape dari data yang akan di drop dulicate nya

data_credit.shape

(30000, 25)

In [4]:
# Cek jika ada atau tidak obsevasi yang duplikat

data_credit.duplicated().sum()

0

In [5]:
# Drop data yang duplikat

data_credit = data_credit.drop_duplicates()

In [6]:
# Cek kembali shape

data_credit.shape

(30000, 25)

## Deleting Unnecassary Column

Di datet kita akan ada sebuah kolom bernama `Unnamed: 0` yang tidak diperlukan. Hapus kolom tersebut menggunakan function `drop()` yang sudah ada di dalam paket pandas.

In [7]:
# Cek shape data

data_credit.shape

(30000, 25)

In [8]:
# Gunakan head() untuk menampilkan kolom yang tidak diperlukan

data_credit.head()

,Unnamed: 0,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,0,NaN,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,1,120000.0,2.0,2.0,2.0,26.0,-1.0,2.0,NaN,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,NaN,1
2,2,NaN,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,3,50000.0,2.0,NaN,1.0,37.0,0.0,NaN,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,NaN,1069.0,1000.0,0
4,4,50000.0,NaN,NaN,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,NaN,10000.0,9000.0,689.0,679.0,0

In [9]:
# Drop Kolom tersebut

data_credit = data_credit.drop('Unnamed: 0', axis=1)

In [10]:
# Cek kembali data

data_credit.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,NaN,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,120000.0,2.0,2.0,2.0,26.0,-1.0,2.0,NaN,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,NaN,1
2,NaN,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,50000.0,2.0,NaN,1.0,37.0,0.0,NaN,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,NaN,1069.0,1000.0,0
4,50000.0,NaN,NaN,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,NaN,10000.0,9000.0,689.0,679.0,0

### Make function to import and drop 

Buat lah sebuah function dengan spesifikasi:

 1. import data
 2. cek JUMLAH OBSERVASI dan JUMLAH COLUMN
 3. drop duplicate
 4. drop unnecassary column
 5. cek JUMLAH OBSERVASI dan JUMLAH COLUMN, setelah di-drop
 6. return data setelah di-drop

Function dinamakan dengan `import_data` dan menerima 3 argument yaitu:

 1. `filename`: Direktori dimana data tersimpan
 2. `drop`    : Nama kolom yang ingin di hapus
 3. `axis`    : Argument untuk `drop()`
 
Lalu assign function tersebut pada suatu variabel yang dengan nama `data_credit`

In [11]:
# Buatlah function 

def import_data(filename, drop, axis):
    data = pd.read_csv(filename, delimiter=';')
    print("Data asli (Jumlah Observasi, Jumlah Column) :", data.shape)
    print("Banyaknya data duplicate :", data.duplicated().sum())
    data_drop = data.drop_duplicates()
    data_drop = data_drop.drop(drop, axis)
    print("Data setelah di drop (Jumlah Observasi, Jumlah Column) :", data_drop.shape)
    
    return data_drop


# Assign fuction kepada variabel data_credit

data_credit = import_data(filename = 'credit_data.csv', drop = 'Unnamed: 0', axis = 1)  # hasil dari function

Data asli (Jumlah Observasi, Jumlah Column) : (30000, 25)
Banyaknya data duplicate : 0
Data setelah di drop (Jumlah Observasi, Jumlah Column) : (30000, 24)

## Input-Output Split

Disini kita akan memisahkan kolom berdasarkan input dan output.

Data yang digunakan untuk input akan dinamakan dengan `X`, sedangkan untuk output dengan `y`.

Pada dataset ini, kita hanya perlu meggunakan kolom `default.payment.next.month` sebagai output kita.

In [12]:
# Cek data menggunakan head()

data_credit.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,NaN,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,120000.0,2.0,2.0,2.0,26.0,-1.0,2.0,NaN,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,NaN,1
2,NaN,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,50000.0,2.0,NaN,1.0,37.0,0.0,NaN,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,NaN,1069.0,1000.0,0
4,50000.0,NaN,NaN,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,NaN,10000.0,9000.0,689.0,679.0,0

In [13]:
# Assign kolom `default.payment.next.month` sebagai output

data_output = data_credit['default.payment.next.month']

In [14]:
# data input hanyalah semua kolom tanpa kolom yang digunakan untuk ouput

data_input = data_credit.drop(['default.payment.next.month'], axis=1)

### Make function for input and output

Buatlah sebuah ufntion dengan kriteria dibawah ini:

1. data_input
2. data_output
3. return data_input dan data_output
* Tujuan dari pembuatan function adalah agar function ini dapat digunakan kembali di cases berbeda. 

Function dinamakan dengan `extract_input_output` dan menerima 3 argument yaitu:

1. `data`        : Dataset yang ingin di split
2. `column_name` : Nama kolom yang ingin di jadikan output
3. `axis`        : Argument untuk drop()

In [15]:
# Buatlah function tersebut disini

def extract_input_output(data, column_name, axis):
    data_output = data[column_name]
    data_input = data.drop(column_name, axis)
    
    return data_input, data_output

# Assign hasil dari funtion tersebut kepada X, y.
# X: data input
# y: data output
X, y = extract_input_output(data = data_credit, column_name = 'default.payment.next.month', axis=1)

## Train and Test Split

Pada bagian ini, X dan y akan dibagi menjadi 2 set yaitu trainin dan tes. Kita akan menggunakan function dari linaray Scikit Learn yaitu `train_test_split`.

In [16]:
# import function train_test_split dari library Scikit Learn

from sklearn.model_selection import train_test_split

#### Train Test Split Function
1. x adalah input
2. y adalah output
3. test size = seberapa besar test, contoh 0.20 untuk 20% test dari data
4. random state adalah kunci untuk random, harus disetting sama, misal random_state = 123
5. Output: 
    * x_train = input dari data training
    * x_test = input dari data test
    * y_train = output dari training data
    * y_test = output dari training data
6. urutan dari x_train, x_test, y_train dan y_test tidak boleh terbalik

In [17]:
# Split dataset

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 123)

In [18]:
# Cek shape untuk tiap set (X_train, X_test, y_train, y_test)

print("Input data training :", X_train.shape)
print("Input data test :", X_test.shape)
print("Output data training :", y_train.shape)
print("Output data test :", y_test.shape)

Input data training : (24000, 23)
Input data test : (6000, 23)
Output data training : (24000,)
Output data test : (6000,)

==================================================
##### This is the end of the homework for Beginner Class
==================================================

## Separating Categorical and Numerical Data Manually

## Getting Categorical

According to the Dataset's content, the categorical variables are `SEX`, `EDUCATION`, `MARRIAGE`, `PAY_0`, `PAY_2`, `PAY_3`, `PAY_4`, `PAY_5`, and `PAY_6`.

In [19]:
# Get Categorical


# list of categorical columns

categories = list(X_train[['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']])

# define the categorical columns from x_train dataset

X_train_cat = X_train[categories]

In [20]:
# check the top observations!

X_train_cat.head()

       SEX  EDUCATION  MARRIAGE  PAY_0  PAY_2  PAY_3  PAY_4  PAY_5  PAY_6
19682  2.0        2.0       NaN    0.0    0.0    0.0    0.0    0.0    0.0
11062  2.0        1.0       1.0   -1.0   -1.0   -1.0   -1.0   -1.0    2.0
197    2.0        NaN       2.0    0.0    0.0    0.0    0.0    NaN    0.0
23620  2.0        5.0       2.0    0.0    0.0    0.0    0.0    0.0   -1.0
26031  2.0        2.0       2.0    0.0    0.0    0.0    0.0    NaN    0.0

In [21]:
# Get numerical

X_train_columns = list(X_train.columns)
numerical = list(set(X_train_columns).difference(set(categories)))
X_train_num = X_train[numerical]

In [22]:
# check the top observations!

X_train_num.head()

,BILL_AMT4,BILL_AMT2,BILL_AMT3,PAY_AMT1,PAY_AMT6,PAY_AMT5,BILL_AMT1,BILL_AMT5,LIMIT_BAL,PAY_AMT2,PAY_AMT4,AGE,BILL_AMT6,PAY_AMT3
19682,103422.0,103173.0,104137.0,3692.0,1500.0,2930.0,106651.0,95206.0,200000.0,5000.0,2500.0,46.0,65108.0,3300.0
11062,476.0,NaN,NaN,652.0,326.0,0.0,3556.0,802.0,120000.0,326.0,802.0,32.0,326.0,476.0
197,8332.0,19446.0,19065.0,1500.0,1000.0,693.0,18553.0,18868.0,20000.0,1032.0,20000.0,22.0,19247.0,NaN
23620,23181.0,91348.0,87244.0,5004.0,1864.0,3219.0,91674.0,7721.0,100000.0,3811.0,4000.0,34.0,NaN,3002.0
26031,8770.0,8174.0,8389.0,1130.0,1001.0,1000.0,7324.0,9145.0,290000.0,1502.0,NaN,29.0,10016.0,1300.0

### Make a function for Separating Numerical and Categorical

In [23]:
# Def a function that returns x_train categorical and x_train numerical

categories = list(X_train[['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']])
X_train_columns = list(X_train.columns)
numerical = list(set(X_train_columns).difference(set(categories)))

def categorical_numerical_separation(data, categorical_columns, numerical_columns):
    categorical_data = data[categorical_columns]
    numerical_data = data[numerical]
    
    return categorical_data, numerical_data
    
X_train_cat, X_train_num = categorical_numerical_separation(data = X_train, 
                                                          categorical_columns = categories,
                                                          numerical_columns = numerical)

In [24]:
# check the top of the x_train categorical observations!

X_train_cat.head()

       SEX  EDUCATION  MARRIAGE  PAY_0  PAY_2  PAY_3  PAY_4  PAY_5  PAY_6
19682  2.0        2.0       NaN    0.0    0.0    0.0    0.0    0.0    0.0
11062  2.0        1.0       1.0   -1.0   -1.0   -1.0   -1.0   -1.0    2.0
197    2.0        NaN       2.0    0.0    0.0    0.0    0.0    NaN    0.0
23620  2.0        5.0       2.0    0.0    0.0    0.0    0.0    0.0   -1.0
26031  2.0        2.0       2.0    0.0    0.0    0.0    0.0    NaN    0.0

In [25]:
# check the top of the x_train numerical observations!

X_train_num.head()

,BILL_AMT4,BILL_AMT2,BILL_AMT3,PAY_AMT1,PAY_AMT6,PAY_AMT5,BILL_AMT1,BILL_AMT5,LIMIT_BAL,PAY_AMT2,PAY_AMT4,AGE,BILL_AMT6,PAY_AMT3
19682,103422.0,103173.0,104137.0,3692.0,1500.0,2930.0,106651.0,95206.0,200000.0,5000.0,2500.0,46.0,65108.0,3300.0
11062,476.0,NaN,NaN,652.0,326.0,0.0,3556.0,802.0,120000.0,326.0,802.0,32.0,326.0,476.0
197,8332.0,19446.0,19065.0,1500.0,1000.0,693.0,18553.0,18868.0,20000.0,1032.0,20000.0,22.0,19247.0,NaN
23620,23181.0,91348.0,87244.0,5004.0,1864.0,3219.0,91674.0,7721.0,100000.0,3811.0,4000.0,34.0,NaN,3002.0
26031,8770.0,8174.0,8389.0,1130.0,1001.0,1000.0,7324.0,9145.0,290000.0,1502.0,NaN,29.0,10016.0,1300.0

## Data Imputation

Data imputation adalah proses pengisian data yang memiliki data yang kosong, biasanya diperlihatkan sebagai NaN

Proses tersebut terbagi menjadi 2:
* Numerical Imputation
* Categorical Imputation

In [26]:
# Cek data yang kosong di traininig set input

X_train.isnull().sum()

LIMIT_BAL    1942
SEX          1864
EDUCATION    1945
MARRIAGE     1837
AGE          1922
PAY_0        1977
PAY_2        1954
PAY_3        1881
PAY_4        1931
PAY_5        1909
PAY_6        1891
BILL_AMT1    1867
BILL_AMT2    1965
BILL_AMT3    1884
BILL_AMT4    1886
BILL_AMT5    1996
BILL_AMT6    1984
PAY_AMT1     2011
PAY_AMT2     2017
PAY_AMT3     1888
PAY_AMT4     1880
PAY_AMT5     1950
PAY_AMT6     1923
dtype: int64

## Finding Difference between Numerical and Categorical (Optional)

In [27]:
X_train.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
19682,200000.0,2.0,2.0,NaN,46.0,0.0,0.0,0.0,0.0,0.0,...,104137.0,103422.0,95206.0,65108.0,3692.0,5000.0,3300.0,2500.0,2930.0,1500.0
11062,120000.0,2.0,1.0,1.0,32.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,476.0,802.0,326.0,652.0,326.0,476.0,802.0,0.0,326.0
197,20000.0,2.0,NaN,2.0,22.0,0.0,0.0,0.0,0.0,NaN,...,19065.0,8332.0,18868.0,19247.0,1500.0,1032.0,NaN,20000.0,693.0,1000.0
23620,100000.0,2.0,5.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,87244.0,23181.0,7721.0,NaN,5004.0,3811.0,3002.0,4000.0,3219.0,1864.0
26031,290000.0,2.0,2.0,2.0,29.0,0.0,0.0,0.0,0.0,NaN,...,8389.0,8770.0,9145.0,10016.0,1130.0,1502.0,1300.0,NaN,1000.0,1001.0

In [28]:
# Get Numerical

X_train_numerical = X_train._get_numeric_data()
#_get_numeric_data() hanya akan mengambil column berisikan integer dan float
                                                # hati-hati dengan data kategoric yang berbentuk integer!!

### Checking for Nan (Non-Value)

In [29]:
# check the missing value of the numerical x_train

X_train_numerical.isnull().any()

LIMIT_BAL    True
SEX          True
EDUCATION    True
MARRIAGE     True
AGE          True
PAY_0        True
PAY_2        True
PAY_3        True
PAY_4        True
PAY_5        True
PAY_6        True
BILL_AMT1    True
BILL_AMT2    True
BILL_AMT3    True
BILL_AMT4    True
BILL_AMT5    True
BILL_AMT6    True
PAY_AMT1     True
PAY_AMT2     True
PAY_AMT3     True
PAY_AMT4     True
PAY_AMT5     True
PAY_AMT6     True
dtype: bool

## Numerical Data Imputation

In [30]:
# Import library for imputation

from sklearn.preprocessing import Imputer

In [31]:
# Get Numerical and Categorical Manualy

X_train_cat, X_train_num = categorical_numerical_separation(data = X_train,
                                                         categorical_columns = categories,
                                                         numerical_columns = numerical)

In [32]:
imput = Imputer(missing_values='NaN', strategy='median')
# namakan function Imputer menjadi imput, jangan lupa tanda kurung ()
# missing_values adalah tanda missing values dalam data, bisa NaN, bisa 9999, bisa "KOSONG"
# strategy median adalah stragegy imputasi, jika data kosong, maka data diganti dengan median
# strategy bisa diganti dengan mean atau rata-rata
# see median: https://en.wikipedia.org/wiki/Median

* fit: imputer agar mengetahui mean atau median  dari setiap column
* transform: isi data dengan median atau mean
* output dari transform berupda pd dataframe
* namakan column dari x_train_numerical_imputed sesuai dengan x_train_numerical.
     - MENGAPA? karena kita kehilangan nama column setelah data imputation
* beri index dari x_train_numerical_imputed sesuai dengan x_train_numerical.
     - MENGAPA? karena kita kehilangan index setelah data imputation

In [33]:
# isi perintah yang akan dibuat di dalam fungsi baru
# imputer perlu difitting ke data 

imput.fit(X_train_num)
x_train_numerical_imputed = pd.DataFrame(imput.transform(X_train_num))
x_train_numerical_imputed.columns = X_train_num.columns
x_train_numerical_imputed.index = X_train_num.index

In [34]:
# cek kembali hasil imputer, apakah missing valuesnya masih ada atau tidak

x_train_numerical_imputed.isnull().any()

BILL_AMT4    False
BILL_AMT2    False
BILL_AMT3    False
PAY_AMT1     False
PAY_AMT6     False
PAY_AMT5     False
BILL_AMT1    False
BILL_AMT5    False
LIMIT_BAL    False
PAY_AMT2     False
PAY_AMT4     False
AGE          False
BILL_AMT6    False
PAY_AMT3     False
dtype: bool

## Categorical Imputation

In [35]:
# Ambil daftar nama kolom categorical.
# Anda bisa langsung menuliskan kolomnya atau mengambil listnya jika jumlah variabelnya sangat banyak. 

x_train_columns = list(X_train.columns)        # jadikan nama kolom sebagai list
numerical_columns = list(X_train_num.columns)      # jadikan nama kolom numerical sebagai list
cat_columns = list(set(X_train_columns).difference(set(numerical_columns))) # cari nama kolom x_train yang bukan numerical

In [36]:
cat_columns

['PAY_2',
 'EDUCATION',
 'PAY_4',
 'SEX',
 'PAY_5',
 'MARRIAGE',
 'PAY_0',
 'PAY_6',
 'PAY_3']

In [37]:
# ambil kolom kategori dari x_train, simpan sebagai DataFrame categorical_data

categorical_data = X_train[cat_columns]


# periksa missing values dalam categorical data

categorical_data.isnull().any()

PAY_2        True
EDUCATION    True
PAY_4        True
SEX          True
PAY_5        True
MARRIAGE     True
PAY_0        True
PAY_6        True
PAY_3        True
dtype: bool

In [38]:
categorical_data = X_train[cat_columns] # pilih column categorical dari data
categorical_data = categorical_data.fillna(value="KOSONG")  # isi missing values dengan kategori "KOSONG"

In [39]:
# periksa kembali missing valuesnya

categorical_data.isnull().any()

PAY_2        False
EDUCATION    False
PAY_4        False
SEX          False
PAY_5        False
MARRIAGE     False
PAY_0        False
PAY_6        False
PAY_3        False
dtype: bool

## Make a Function
* Make a function to get the numerical variable and imput the missing values
* Make a function to get the categorical variable and imput the missing values

In [40]:
imput_numerical = Imputer(missing_values='NaN', strategy='median')

def numericalImputation(data, numerical_columns):
    numerical_data = data[numerical_columns]
    imput_numerical.fit(numerical_data)
    
    numerical_data_imputed = pd.DataFrame(imput_numerical.transform(numerical_data))
    numerical_data_imputed.columns = numerical_columns
    numerical_data_imputed.index = numerical_data.index
    
    return numerical_data_imputed, imput_numerical

def categoricalImputation(data, categorical_columns):
    categorical_data = data[categorical_columns].fillna(value="KOSONG")
    
    return categorical_data

X_train_numerical, imput_numerical = numericalImputation(data = X_train, numerical_columns = numerical_columns)
X_train_categorical = categoricalImputation(data = X_train, categorical_columns = cat_columns)

## Preprocessing Categorical Variables

* create dummy variable for each of categorical variable

In [41]:
categorical_dummies = pd.get_dummies(X_train_categorical)

In [42]:
# periksa top observations

categorical_dummies.head()

,PAY_2_-2.0,PAY_2_-1.0,PAY_2_0.0,PAY_2_1.0,PAY_2_2.0,PAY_2_3.0,PAY_2_4.0,PAY_2_5.0,PAY_2_6.0,PAY_2_7.0,...,PAY_3_0.0,PAY_3_1.0,PAY_3_2.0,PAY_3_3.0,PAY_3_4.0,PAY_3_5.0,PAY_3_6.0,PAY_3_7.0,PAY_3_8.0,PAY_3_KOSONG
19682,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
11062,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
197,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
23620,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
26031,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

### Make A function to get the dummies

In [43]:
def extractCategorical(data, categorical_columns):
    X_train_categorical = categoricalImputation(data, categorical_columns)
    categorical_dummies = pd.get_dummies(X_train_categorical)
    
    return categorical_dummies

X_train_cat_dummies = extractCategorical(data = X_train, categorical_columns = cat_columns)
dummies_columns = X_train_cat_dummies.columns

In [44]:
# check the top observations

X_train_cat_dummies.head()

,PAY_2_-2.0,PAY_2_-1.0,PAY_2_0.0,PAY_2_1.0,PAY_2_2.0,PAY_2_3.0,PAY_2_4.0,PAY_2_5.0,PAY_2_6.0,PAY_2_7.0,...,PAY_3_0.0,PAY_3_1.0,PAY_3_2.0,PAY_3_3.0,PAY_3_4.0,PAY_3_5.0,PAY_3_6.0,PAY_3_7.0,PAY_3_8.0,PAY_3_KOSONG
19682,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
11062,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
197,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
23620,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
26031,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

## Join data Numerical dan Categorical

In [45]:
# ambil variabel numerical yang sudah tidak memiliki missing values dan variabel kategori yang sudah menjadi dummy
# satukan kembali kolom tersebut menjadi x_train_concat

X_train_concat = pd.concat([X_train_numerical, X_train_cat_dummies], axis=1)

In [46]:
# Check NaN values

X_train_concat.isnull().any()

BILL_AMT4        False
BILL_AMT2        False
BILL_AMT3        False
PAY_AMT1         False
PAY_AMT6         False
PAY_AMT5         False
BILL_AMT1        False
BILL_AMT5        False
LIMIT_BAL        False
PAY_AMT2         False
PAY_AMT4         False
AGE              False
BILL_AMT6        False
PAY_AMT3         False
PAY_2_-2.0       False
PAY_2_-1.0       False
PAY_2_0.0        False
PAY_2_1.0        False
PAY_2_2.0        False
PAY_2_3.0        False
PAY_2_4.0        False
PAY_2_5.0        False
PAY_2_6.0        False
PAY_2_7.0        False
PAY_2_8.0        False
PAY_2_KOSONG     False
EDUCATION_0.0    False
EDUCATION_1.0    False
EDUCATION_2.0    False
EDUCATION_3.0    False
                 ...
PAY_0_3.0        False
PAY_0_4.0        False
PAY_0_5.0        False
PAY_0_6.0        False
PAY_0_7.0        False
PAY_0_8.0        False
PAY_0_KOSONG     False
PAY_6_-2.0       False
PAY_6_-1.0       False
PAY_6_0.0        False
PAY_6_2.0        False
PAY_6_3.0        False
PAY_6_4.0        False
PAY_6_5.0        False
PAY_6_6.0        False
PAY_6_7.0        False
PAY_6_8.0        False
PAY_6_KOSONG     False
PAY_3_-2.0       False
PAY_3_-1.0       False
PAY_3_0.0        False
PAY_3_1.0        False
PAY_3_2.0        False
PAY_3_3.0        False
PAY_3_4.0        False
PAY_3_5.0        False
PAY_3_6.0        False
PAY_3_7.0        False
PAY_3_8.0        False
PAY_3_KOSONG     False
dtype: bool

## Standardizing Variables

- KEGUNAAN: Menyamakan skala dari variable input
- fit: imputer agar mengetahui mean standard deviasi dari setiap column
- transform: isi data dengan value yang dinormalisasi
- output dari transform berupda pd dataframe
- normalize dikeluarkan karena akan dipakai di test

In [47]:
from sklearn.preprocessing import StandardScaler

def standardizer(data):
    data_columns = data.columns
    data_index = data.index
    normalize = StandardScaler()
    normalize.fit(data)
    
    normalize_x = pd.DataFrame(normalize.transform(data))
    normalize_x.columns = data_columns
    normalize_x.index = data_index
    
    return normalize_x, normalize

X_train_clean, normalize = standardizer(X_train_concat)

## Training Machine Learning

* Choose Score to optimize and Hyperparameter Space
* Cross-Validation: Random vs Grid Search CV
* Kita harus mengalahkan benchmark

### Benchmark:

In [48]:
# benchmark ini adalah proporsi kelas target yang terbesar

y.value_counts(normalize=True)

0    0.7788
1    0.2212
Name: default.payment.next.month, dtype: float64

In [49]:
# Import classifier

from sklearn.neighbors import KNeighborsClassifier

In [50]:
# Kernel Nearest Neighbor Classifier: fitting

knn = KNeighborsClassifier()
knn.fit(X_train_clean, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [51]:
# Predict

predicted_knn = pd.DataFrame(knn.predict(X_train_clean))
predicted_knn.head()

   0
0  0
1  0
2  0
3  0
4  0

In [52]:
# Cek performa model di data training

knn.score(X_train_clean, y_train)

0.84062499999999996