# Tugas Python Machine Learning with PACMANN AI

## Machine Learning Process Flowchart :
### 1. Importing Data to Python :
    * Drop Duplicates 
### 2. Data Preprocessing :
    * Input-Output Split, Train-Test Split
    * Imputation, Processing Categorical, Normalization 
### 3. Training Machine Learning : 
    * Choose Score to optimize and Hyperparameter Space
### 4. Test Prediction : 
    * Evaluate model performance on Test Data

## 1. Importing Data to Python

In [1]:
# Import libraries

import numpy as np # Import Numpy sebagai np
import pandas as pd # Lalu import pandas sebagai pd

## Get Dataset

Dibawah merupakan dokumentasi mengenai dataet yang akan digunakan. Data terdiri atas 2 kategori yaitu Numerical dan Categorical.

### Dataset Information

"Churn Rate" is a business term describing the rate at which customers leave or cease paying for a product or service. It's a critical figure in many businesses, as it's often the case that acquiring new customers is a lot more costly than retaining existing ones (in some cases, 5 to 20 times more expensive).
 Predicting churn is particularly important for businesses with subscription models such as cell phone, cable, or merchant credit card processing plans.  
### Content
There are 21 variables: 

1. State
2. Account Length
3. Area Code
4. Phone
5. Int'l Plan
6. VMail Plan
7. VMail Message
8. Day Mins
9. Day Calls
10. Day Charge
11. Eve Mins
12. Eve Calls
13. Eve Charge
14. Night Mins
15. Night Calls
16. Night Charge
17. Intl Mins
18. Intl Calls
19. Intl Charge
20. CustServ Calls
21. Churn? : Output

In [2]:
# Baca dataset "churn.csv" dengan menggunakan function read_csv()

data_churn = pd.read_csv("churn.csv")

In [3]:
# Check 5 Observasi pertama dataset

data_churn.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

## Droping Duplicates

In [4]:
# Cek shape dari data yang akan di drop duplicate nya

data_churn.shape

(3333, 21)

In [5]:
# Cek jika ada atau tidak observasi yang duplikat

data_churn.duplicated().sum()

0

In [6]:
# Drop data yang duplikat

data_churn = data_churn.drop_duplicates()

In [7]:
# Cek kembali shape

data_churn.shape

(3333, 21)

In [8]:
# Cek kembali data

data_churn.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

### Make function to import and drop 

Buat lah sebuah function dengan spesifikasi:

 1. import data
 2. cek JUMLAH OBSERVASI dan JUMLAH COLUMN
 3. drop duplicate
 4. drop unnecassary column
 5. cek JUMLAH OBSERVASI dan JUMLAH COLUMN, setelah di-drop
 6. return data setelah di-drop

Function dinamakan dengan `import_data` dan menerima 2 argument yaitu:

 1. `filename`: Direktori dimana data tersimpan
 2. `drop`    : Nama kolom yang ingin di hapus
 
Lalu assign function tersebut pada suatu variabel yang dengan nama `data_churn`

In [9]:
# Buatlah function 

def import_data(filename, drop):
    data = pd.read_csv(filename)
    print("Data asli : %d Observasi, %d Kolom." %data.shape)
    print("Banyaknya data duplicate :", data.duplicated().sum())
    data_drop = data.drop_duplicates()
    
    if drop == "none" :
        print("Data setelah di drop : %d Observasi, %d Kolom." %data_drop.shape)
    else :
        print("Kolom yang di drop :", drop)
        data_drop = data_drop.drop(drop, axis=1)
        print("Data setelah di drop : %d Observasi, %d Kolom." %data_drop.shape)
    
    return data_drop

In [10]:
# Assign fuction kepada variabel data_churn

data_churn = import_data(filename = "churn.csv", drop = ["State", "Area Code", "Phone"]) # hasil dari function

Data asli : 3333 Observasi, 21 Kolom.
Banyaknya data duplicate : 0
Kolom yang di drop : ['State', 'Area Code', 'Phone']
Data setelah di drop : 3333 Observasi, 18 Kolom.

## 2. Data Preprocessing
### Input-Output Split

Disini kita akan memisahkan kolom berdasarkan input dan output.

Data yang digunakan untuk input akan dinamakan dengan `X`, sedangkan untuk output dengan `y`.

Pada dataset ini, kita hanya perlu menggunakan kolom `Churn?` sebagai output kita.

In [11]:
# Cek data menggunakan head()

data_churn.head()

,Account Length,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,128,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,107,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,137,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,84,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,75,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

### Make function for input and output

Buatlah sebuah function dengan kriteria dibawah ini:

1. data_input
2. data_output
3. return data_input dan data_output
* Tujuan dari pembuatan function adalah agar function ini dapat digunakan kembali di cases berbeda. 

Function dinamakan dengan `extract_input_output` dan menerima 2 argument yaitu:

1. `data`        : Dataset yang ingin di split
2. `column_name` : Nama kolom yang ingin di jadikan output

In [12]:
# Buatlah function tersebut disini

def extract_input_output(data, column_name):
    data_input = data.drop(column_name, axis=1)
    data_output = data[column_name]
    
    return data_input, data_output

# Assign hasil dari funtion tersebut kepada X, y.
# X: data input
# y: data output
X, y = extract_input_output(data = data_churn, column_name = "Churn?")

In [13]:
X.head()

,Account Length,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
0,128,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,107,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1
2,137,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0
3,84,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,75,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3

In [14]:
y.head()

0    False.
1    False.
2    False.
3    False.
4    False.
Name: Churn?, dtype: object

## Train and Test Split

Pada bagian ini, X dan y akan dibagi menjadi 2 set yaitu training dan tes. Kita akan menggunakan function dari library Scikit Learn yaitu `train_test_split`.

In [15]:
# import function train_test_split dari library Scikit Learn

from sklearn.model_selection import train_test_split

#### Train Test Split Function
1. x adalah input
2. y adalah output
3. test size = seberapa besar test, contoh 0.20 untuk 20% test dari data
4. random state adalah kunci untuk random, harus disetting sama, misal random_state = 123
5. Output: 
    * x_train = input dari data training
    * x_test = input dari data test
    * y_train = output dari training data
    * y_test = output dari training data
6. urutan dari x_train, x_test, y_train dan y_test tidak boleh terbalik

In [16]:
# Split dataset

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 123)

In [17]:
# Cek shape untuk tiap set (X_train, X_test, y_train, y_test)

print("Data input training :", X_train.shape)
print("Data input test :", X_test.shape)
print("Data output training :", y_train.shape)
print("Data output test :", y_test.shape)

Data input training : (2666, 17)
Data input test : (667, 17)
Data output training : (2666,)
Data output test : (667,)

## Separating Categorical and Numerical Data Manually

## Getting Categorical

In [18]:
X_train.columns

Index(['Account Length', 'Int'l Plan', 'VMail Plan', 'VMail Message',
       'Day Mins', 'Day Calls', 'Day Charge', 'Eve Mins', 'Eve Calls',
       'Eve Charge', 'Night Mins', 'Night Calls', 'Night Charge', 'Intl Mins',
       'Intl Calls', 'Intl Charge', 'CustServ Calls'],
      dtype='object')

In [19]:
for i in X_train.columns:
    print(X_train[i].value_counts())

105    36
93     36
101    34
112    33
87     33
100    32
86     32
116    32
99     31
90     30
123    30
64     30
80     30
130    29
95     28
122    28
98     27
107    27
73     27
119    27
74     27
75     27
85     27
88     26
127    26
97     26
113    26
92     26
94     26
120    26
       ..
170     2
217     2
210     2
224     2
10      2
225     2
168     2
12      2
7       2
18      2
186     2
194     2
195     2
26      1
8       1
6       1
4       1
243     1
178     1
192     1
196     1
204     1
208     1
232     1
5       1
199     1
205     1
215     1
221     1
2       1
Name: Account Length, dtype: int64
no     2412
yes     254
Name: Int'l Plan, dtype: int64
no     1932
yes     734
Name: VMail Plan, dtype: int64
0     1932
31      57
30      38
33      37
28      37
29      37
27      36
24      36
32      34
23      30
26      29
35      28
36      28
25      28
22      25
39      23
21      22
37      21
38      20
20      20
34      19
19      16
16      11
42      11
40      11
41      10
17       9
43       8
15       7
14       7
44       6
45       5
18       5
12       4
46       3
8        2
48       2
50       2
11       2
47       2
49       1
9        1
13       1
10       1
4        1
51       1
Name: VMail Message, dtype: int64
154.0    8
174.5    8
159.5    7
175.4    7
198.4    6
162.3    6
184.5    6
178.7    6
194.8    6
216.0    6
146.3    6
193.3    5
209.4    5
165.4    5
179.4    5
145.0    5
171.2    5
190.3    5
175.8    5
197.2    5
143.2    5
174.0    5
133.3    5
168.6    5
148.2    5
182.1    5
189.8    5
203.4    5
157.1    5
206.2    5
        ..
163.2    1
268.0    1
291.6    1
150.8    1
111.0    1
45.0     1
249.5    1
57.5     1
98.0     1
88.5     1
280.0    1
189.0    1
90.0     1
178.6    1
131.9    1
7.8      1
126.7    1
80.2     1
191.6    1
99.9     1
148.8    1
278.9    1
198.6    1
261.8    1
263.7    1
233.9    1
293.3    1
141.2    1
95.4     1
238.9    1
Name: Day Mins, dtype: int64
102    63
108    60
107    60
88     58
105    55
101    54
92     54
110    54
100    53
98     52
112    52
97     51
95     51
94     50
104    49
91     49
114    49
96     48
93     47
87     46
106    45
109    45
117    44
85     43
99     43
90     42
89     42
113    41
83     41
103    40
       ..
148     5
64      5
54      5
147     5
151     5
144     4
150     4
58      4
57      4
48      3
59      3
45      3
52      2
142     2
44      2
158     2
42      2
40      2
47      2
49      2
36      1
30      1
165     1
152     1
163     1
160     1
35      1
51      1
53      1
0       1
Name: Day Calls, dtype: int64
26.18    8
29.67    8
29.82    7
27.12    7
30.38    6
36.72    6
33.73    6
24.87    6
27.59    6
33.12    6
31.37    6
24.34    5
37.88    5
24.02    5
29.58    5
32.27    5
30.50    5
28.53    5
33.52    5
28.12    5
34.58    5
22.66    5
29.89    5
35.60    5
27.22    5
26.71    5
24.65    5
24.19    5
32.35    5
35.05    5
        ..
3.21     1
45.58    1
27.83    1
42.60    1
14.11    1
7.12     1
42.65    1
19.33    1
26.42    1
22.41    1
23.44    1
30.45    1
44.95    1
19.87    1
43.96    1
19.57    1
50.68    1
18.22    1
31.74    1
31.20    1
26.37    1
21.71    1
22.19    1
25.74    1
12.46    1
20.54    1
25.26    1
30.57    1
19.55    1
32.13    1
Name: Day Charge, dtype: int64
169.9    9
167.2    7
220.6    6
201.0    6
189.6    6
195.5    6
187.0    6
180.5    6
230.0    6
186.4    6
211.5    6
246.5    6
209.4    6
236.7    5
211.7    5
230.9    5
253.4    5
203.8    5
189.7    5
213.4    5
178.6    5
181.6    5
216.5    5
167.6    5
256.6    5
224.7    5
226.7    5
161.7    5
209.1    5
216.9    5
        ..
272.8    1
215.3    1
140.4    1
260.4    1
157.2    1
93.4     1
295.9    1
187.9    1
214.6    1
90.7     1
163.3    1
237.9    1
267.3    1
244.3    1
171.6    1
139.8    1
148.6    1
42.2     1
185.1    1
238.5    1
239.5    1
115.7    1
172.4    1
332.1    1
282.2    1
88.7     1
229.9    1
160.3    1
177.1    1
126.0    1
Name: Eve Mins, dtype: int64
94     64
105    64
102    60
88     57
108    56
97     55
109    55
103    54
101    54
90     52
104    52
99     51
93     50
111    49
98     49
87     49
115    48
100    47
110    47
95     47
96     47
107    45
91     44
117    44
83     44
118    43
113    42
89     42
114    41
112    41
       ..
147     5
143     5
51      5
54      5
48      4
139     4
52      4
146     4
57      4
46      3
50      3
150     3
155     3
154     2
148     2
53      2
55      2
149     2
36      1
12      1
42      1
159     1
157     1
156     1
164     1
168     1
49      1
151     1
153     1
0       1
Name: Eve Calls, dtype: int64
16.12    11
14.44     9
15.90     9
14.25     9
17.09     8
17.99     8
18.62     8
14.21     7
17.77     7
18.96     7
18.79     7
19.58     7
18.16     7
17.94     6
16.62     6
18.75     6
17.48     6
17.80     6
15.84     6
14.20     6
20.95     6
18.67     6
19.55     6
17.20     6
17.60     6
17.71     6
16.63     6
16.18     6
17.98     6
13.01     6
         ..
24.75     1
15.25     1
9.64      1
15.83     1
12.07     1
22.60     1
21.20     1
11.03     1
13.83     1
7.67      1
9.78      1
17.73     1
14.29     1
16.83     1
12.77     1
21.62     1
10.21     1
20.27     1
7.59      1
22.48     1
10.83     1
17.21     1
21.49     1
16.14     1
24.89     1
13.59     1
18.58     1
19.79     1
5.61      1
18.57     1
Name: Eve Charge, dtype: int64
191.4    7
194.3    7
214.6    7
214.0    6
221.6    6
207.2    6
188.2    6
228.4    6
197.4    6
192.7    6
214.5    6
193.6    6
221.7    5
203.8    5
206.1    5
223.5    5
233.0    5
135.0    5
196.2    5
262.7    5
181.5    5
239.9    5
210.5    5
213.7    5
179.6    5
205.7    5
214.7    5
202.0    5
172.7    5
203.0    5
        ..
88.2     1
152.2    1
184.9    1
234.8    1
112.9    1
153.3    1
286.7    1
243.0    1
89.6     1
165.0    1
159.7    1
249.2    1
115.6    1
185.6    1
206.4    1
111.4    1
254.6    1
311.1    1
191.6    1
232.2    1
164.6    1
248.9    1
100.9    1
260.9    1
112.2    1
120.4    1
186.8    1
318.3    1
114.9    1
140.0    1
Name: Night Mins, dtype: int64
105    69
104    65
91     62
94     60
102    58
106    57
100    56
92     55
108    52
109    51
103    51
95     50
97     49
98     49
101    48
90     48
99     48
120    48
89     47
82     46
107    45
113    44
114    43
93     43
112    43
87     43
96     41
115    41
85     40
111    39
       ..
55      6
58      5
53      5
146     5
143     5
144     4
142     4
148     3
141     3
147     3
151     3
56      2
54      2
52      2
157     2
156     2
150     2
152     2
154     1
155     1
164     1
166     1
33      1
49      1
149     1
153     1
50      1
48      1
38      1
36      1
Name: Night Calls, dtype: int64
9.66     12
9.32     11
9.14     11
8.47     11
9.45     10
10.80    10
9.63     10
8.88     10
7.69     10
8.57      9
9.18      9
10.49     9
8.59      9
9.09      9
9.23      9
9.97      9
7.52      9
8.64      9
7.15      9
8.61      9
9.71      9
9.76      8
11.51     8
8.83      8
11.12     8
8.78      8
10.22     8
10.35     8
9.48      8
9.65      8
         ..
4.10      1
11.42     1
8.23      1
7.32      1
11.72     1
2.59      1
6.81      1
16.55     1
14.32     1
9.13      1
4.24      1
11.63     1
12.67     1
12.80     1
11.80     1
13.14     1
5.95      1
12.63     1
5.12      1
14.78     1
9.22      1
15.06     1
3.78      1
5.13      1
12.40     1
12.60     1
14.09     1
12.74     1
4.77      1
12.72     1
Name: Night Charge, dtype: int64
10.0    49
11.3    48
9.8     47
10.2    45
11.1    45
10.1    45
10.9    44
11.0    44
10.5    44
10.6    43
9.5     43
8.9     41
10.7    41
11.4    41
9.7     41
11.5    40
9.9     39
8.8     39
12.0    37
9.4     37
11.6    36
11.2    36
10.3    36
11.8    35
9.6     34
7.5     33
9.1     33
10.8    33
9.3     32
12.2    32
        ..
2.0      2
17.0     2
18.0     2
18.2     2
5.2      2
16.6     2
17.6     2
3.7      2
4.8      2
2.1      2
17.8     2
20.0     1
4.1      1
1.1      1
2.2      1
3.9      1
3.6      1
17.9     1
18.9     1
16.3     1
2.5      1
1.3      1
2.6      1
2.4      1
18.3     1
17.1     1
3.4      1
2.7      1
16.0     1
18.4     1
Name: Intl Mins, dtype: int64
3     524
4     490
2     402
5     374
6     265
7     184
1     132
8      94
9      86
10     37
11     23
12     14
13     11
0      11
15      6
14      5
18      3
16      2
19      1
17      1
20      1
Name: Intl Calls, dtype: int64
2.70    49
3.05    48
2.65    47
3.00    45
2.75    45
2.73    45
2.97    44
2.84    44
2.94    44
2.86    43
2.57    43
2.62    41
2.89    41
3.08    41
2.40    41
3.11    40
2.38    39
2.67    39
2.54    37
3.24    37
3.13    36
3.02    36
2.78    36
3.19    35
2.59    34
2.92    33
2.03    33
2.46    33
2.48    32
2.51    32
        ..
4.75     2
1.00     2
4.59     2
1.30     2
0.54     2
4.48     2
4.81     2
0.89     2
4.91     2
0.78     2
1.08     2
0.35     1
1.11     1
0.92     1
5.40     1
0.68     1
4.62     1
4.40     1
4.83     1
0.70     1
5.10     1
0.30     1
4.97     1
0.65     1
4.32     1
0.59     1
4.94     1
0.97     1
1.05     1
0.73     1
Name: Intl Charge, dtype: int64
1    931
2    602
0    571
3    342
4    137
5     53
6     20
7      7
8      2
9      1
Name: CustServ Calls, dtype: int64

In [20]:
# Get Categorical

categories = ["Int'l Plan", "VMail Plan", ] #list of categorical columns

X_train_cat = X_train[categories] # define the categorical columns from x_train dataset

In [21]:
# check the top observations!

X_train_cat.head()

     Int'l Plan VMail Plan
1881         no         no
48           no         no
2886         no         no
2294         no         no
314          no         no

In [22]:
# Get numerical

numerical = ["Account Length", "VMail Message", "Day Mins", 
             "Day Calls", "Day Charge", "Eve Mins", "Eve Calls", 
             "Eve Charge", "Night Mins", "Night Calls", "Night Charge", 
             "Intl Mins", "Intl Calls", "Intl Charge", "CustServ Calls"]

X_train_num = X_train[numerical]

In [23]:
# check the top observations!

X_train_num.head()

,Account Length,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
1881,76,0,272.7,97,46.36,236.4,95,20.09,235.5,105,10.60,7.7,2,2.08,0
48,119,0,159.1,114,27.05,231.3,117,19.66,143.2,91,6.44,8.8,3,2.38,5
2886,85,0,144.4,88,24.55,264.6,105,22.49,185.4,94,8.34,9.9,3,2.67,1
2294,59,0,189.7,100,32.25,115.9,133,9.85,220.6,115,9.93,7.4,4,2.00,0
314,128,0,125.2,99,21.28,205.4,107,17.46,254.4,111,11.45,18.9,2,5.10,0

### Make a function for Separating Numerical and Categorical

In [24]:
# Def a function that returns x_train categorical and x_train numerical

def categorical_numerical_separation(data, categorical_columns, numerical_columns):
    categorical_data = data[categorical_columns]
    numerical_data = data[numerical_columns]
    
    return categorical_data, numerical_data

X_train_cat, X_train_num = categorical_numerical_separation(data = X_train, 
                                                          categorical_columns = categories,
                                                          numerical_columns = numerical)

In [25]:
# check the top of the x_train categorical observations!

X_train_cat.head()

     Int'l Plan VMail Plan
1881         no         no
48           no         no
2886         no         no
2294         no         no
314          no         no

In [26]:
# check the top of the x_train numerical observations!

X_train_num.head()

,Account Length,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
1881,76,0,272.7,97,46.36,236.4,95,20.09,235.5,105,10.60,7.7,2,2.08,0
48,119,0,159.1,114,27.05,231.3,117,19.66,143.2,91,6.44,8.8,3,2.38,5
2886,85,0,144.4,88,24.55,264.6,105,22.49,185.4,94,8.34,9.9,3,2.67,1
2294,59,0,189.7,100,32.25,115.9,133,9.85,220.6,115,9.93,7.4,4,2.00,0
314,128,0,125.2,99,21.28,205.4,107,17.46,254.4,111,11.45,18.9,2,5.10,0

## Data Imputation

Data imputation adalah proses pengisian data yang memiliki data yang kosong, biasanya diperlihatkan sebagai NaN

Proses tersebut terbagi menjadi 2:
* Numerical Imputation
* Categorical Imputation

In [27]:
# Cek data yang kosong di traininig set input

X_train.isnull().any()

Account Length    False
Int'l Plan        False
VMail Plan        False
VMail Message     False
Day Mins          False
Day Calls         False
Day Charge        False
Eve Mins          False
Eve Calls         False
Eve Charge        False
Night Mins        False
Night Calls       False
Night Charge      False
Intl Mins         False
Intl Calls        False
Intl Charge       False
CustServ Calls    False
dtype: bool

## Finding Difference between Numerical and Categorical (Optional)

In [28]:
X_train.head()

,Account Length,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
1881,76,no,no,0,272.7,97,46.36,236.4,95,20.09,235.5,105,10.60,7.7,2,2.08,0
48,119,no,no,0,159.1,114,27.05,231.3,117,19.66,143.2,91,6.44,8.8,3,2.38,5
2886,85,no,no,0,144.4,88,24.55,264.6,105,22.49,185.4,94,8.34,9.9,3,2.67,1
2294,59,no,no,0,189.7,100,32.25,115.9,133,9.85,220.6,115,9.93,7.4,4,2.00,0
314,128,no,no,0,125.2,99,21.28,205.4,107,17.46,254.4,111,11.45,18.9,2,5.10,0

In [29]:
# Get Numerical

X_train_num = X_train._get_numeric_data()
#_get_numeric_data() hanya akan mengambil column berisikan integer dan float
                                                # hati-hati dengan data kategoric yang berbentuk integer!!

### Checking for Nan (Non-Value)

In [30]:
# check the missing value of the numerical x_train

X_train_num.isnull().any()

Account Length    False
VMail Message     False
Day Mins          False
Day Calls         False
Day Charge        False
Eve Mins          False
Eve Calls         False
Eve Charge        False
Night Mins        False
Night Calls       False
Night Charge      False
Intl Mins         False
Intl Calls        False
Intl Charge       False
CustServ Calls    False
dtype: bool

## Numerical Data Imputation

In [31]:
# Import library for imputation

from sklearn.preprocessing import Imputer

In [32]:
# Get Numerical and Categorical Manualy

X_train_cat, X_train_num = categorical_numerical_separation(data = X_train, 
                                                          categorical_columns = categories,
                                                          numerical_columns = numerical)

In [33]:
imput = Imputer(missing_values='NaN', strategy='median')
# namakan function Imputer menjadi imput, jangan lupa tanda kurung ()
# missing_values adalah tanda missing values dalam data, bisa NaN, bisa 9999, bisa "KOSONG"
# strategy median adalah stragegy imputasi, jika data kosong, maka data diganti dengan median
# strategy bisa diganti dengan mean atau rata-rata
# see median: https://en.wikipedia.org/wiki/Median

* fit: imputer agar mengetahui mean atau median  dari setiap column
* transform: isi data dengan median atau mean
* output dari transform berupda pd dataframe
* namakan column dari x_train_numerical_imputed sesuai dengan x_train_numerical.
     - MENGAPA? karena kita kehilangan nama column setelah data imputation
* beri index dari x_train_numerical_imputed sesuai dengan x_train_numerical.
     - MENGAPA? karena kita kehilangan index setelah data imputation

In [34]:
# isi perintah yang akan dibuat di dalam fungsi baru
# imputer perlu difitting ke data 

imput.fit(X_train_num)
x_train_numerical_imputed = pd.DataFrame(imput.transform(X_train_num))
x_train_numerical_imputed.columns = X_train_num.columns
x_train_numerical_imputed.index = X_train_num.index

In [35]:
# cek kembali hasil imputer, apakah missing valuesnya masih ada atau tidak

x_train_numerical_imputed.isnull().any()

Account Length    False
VMail Message     False
Day Mins          False
Day Calls         False
Day Charge        False
Eve Mins          False
Eve Calls         False
Eve Charge        False
Night Mins        False
Night Calls       False
Night Charge      False
Intl Mins         False
Intl Calls        False
Intl Charge       False
CustServ Calls    False
dtype: bool

## Categorical Imputation

In [36]:
# Ambil daftar nama kolom categorical.
# Anda bisa langsung menuliskan kolomnya atau mengambil listnya jika jumlah variabelnya sangat banyak. 

x_train_columns = list(X_train.columns)        # jadikan nama kolom sebagai list
numerical_columns = list(X_train_num.columns)      # jadikan nama kolom numerical sebagai list
cat_columns = list(X_train_cat.columns)            # cari nama kolom x_train yang bukan numerical

In [37]:
cat_columns

["Int'l Plan", 'VMail Plan']

In [38]:
# ambil kolom kategori dari x_train, simpan sebagai DataFrame categorical_data

categorical_data = X_train[cat_columns]     

# periksa missing values dalam categorical data

categorical_data.isnull().any()

Int'l Plan    False
VMail Plan    False
dtype: bool

In [39]:
categorical_data = X_train[cat_columns] # pilih column categorical dari data
categorical_data = categorical_data.fillna(value='KOSONG')  # isi missing values dengan kategori "KOSONG"

In [40]:
# periksa kembali missing valuesnya

categorical_data.isnull().any()

Int'l Plan    False
VMail Plan    False
dtype: bool

## Make a Function
* Make a function to get the numerical variable and imput the missing values
* Make a function to get the categorical variable and imput the missing values

In [41]:
imput_numerical = Imputer(missing_values='NaN', strategy='median')

def numericalImputation(data, numerical_columns):
    numerical_data = data[numerical_columns]
    imput_numerical.fit(numerical_data)
    
    numerical_data_imputed = pd.DataFrame(imput_numerical.transform(numerical_data))
    numerical_data_imputed.columns = numerical_columns
    numerical_data_imputed.index = numerical_data.index
    
    return numerical_data_imputed, imput_numerical

def categoricalImputation(data, categorical_columns):
    categorical_data = data[categorical_columns].fillna(value="KOSONG")
    
    return categorical_data

X_train_numerical, imput_numerical = numericalImputation(data = X_train, numerical_columns = numerical_columns)
X_train_categorical = categoricalImputation(data = X_train, categorical_columns = cat_columns)

## Preprocessing Categorical Variables

* create dummy variable for each of categorical variable

In [42]:
categorical_dummies = pd.get_dummies(X_train_categorical)

In [43]:
# periksa top observations

categorical_dummies.head()

      Int'l Plan_no  Int'l Plan_yes  VMail Plan_no  VMail Plan_yes
1881              1               0              1               0
48                1               0              1               0
2886              1               0              1               0
2294              1               0              1               0
314               1               0              1               0

### Make a function to get the dummies

In [44]:
def extractCategorical(data, categorical_columns):
    X_train_categorical = categoricalImputation(data, categorical_columns)
    categorical_dummies = pd.get_dummies(X_train_categorical)
    
    return categorical_dummies

X_train_cat_dummies = extractCategorical(data = X_train, categorical_columns = cat_columns)
dummies_columns = X_train_cat_dummies.columns

In [45]:
# check the top observations

X_train_cat_dummies.head()

      Int'l Plan_no  Int'l Plan_yes  VMail Plan_no  VMail Plan_yes
1881              1               0              1               0
48                1               0              1               0
2886              1               0              1               0
2294              1               0              1               0
314               1               0              1               0

## Join data Numerical dan Categorical

In [46]:
# ambil variabel numerical yang sudah tidak memiliki missing values dan variabel kategori yang sudah menjadi dummy
# satukan kembali kolom tersebut menjadi x_train_concat

X_train_concat = pd.concat([X_train_numerical, X_train_cat_dummies], axis=1)

In [47]:
X_train_concat.head()

,Account Length,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Int'l Plan_no,Int'l Plan_yes,VMail Plan_no,VMail Plan_yes
1881,76.0,0.0,272.7,97.0,46.36,236.4,95.0,20.09,235.5,105.0,10.60,7.7,2.0,2.08,0.0,1,0,1,0
48,119.0,0.0,159.1,114.0,27.05,231.3,117.0,19.66,143.2,91.0,6.44,8.8,3.0,2.38,5.0,1,0,1,0
2886,85.0,0.0,144.4,88.0,24.55,264.6,105.0,22.49,185.4,94.0,8.34,9.9,3.0,2.67,1.0,1,0,1,0
2294,59.0,0.0,189.7,100.0,32.25,115.9,133.0,9.85,220.6,115.0,9.93,7.4,4.0,2.00,0.0,1,0,1,0
314,128.0,0.0,125.2,99.0,21.28,205.4,107.0,17.46,254.4,111.0,11.45,18.9,2.0,5.10,0.0,1,0,1,0

In [48]:
# Check NaN values

X_train_concat.isnull().any()

Account Length    False
VMail Message     False
Day Mins          False
Day Calls         False
Day Charge        False
Eve Mins          False
Eve Calls         False
Eve Charge        False
Night Mins        False
Night Calls       False
Night Charge      False
Intl Mins         False
Intl Calls        False
Intl Charge       False
CustServ Calls    False
Int'l Plan_no     False
Int'l Plan_yes    False
VMail Plan_no     False
VMail Plan_yes    False
dtype: bool

## Standardizing Variables

- KEGUNAAN: Menyamakan skala dari variable input
- fit: imputer agar mengetahui mean standard deviasi dari setiap column
- transform: isi data dengan value yang dinormalisasi
- output dari transform berupda pd dataframe
- normalize dikeluarkan karena akan dipakai di test

In [49]:
from sklearn.preprocessing import StandardScaler

def standardizer(data):
    data_columns = data.columns
    data_index = data.index
    normalize = StandardScaler()
    normalize.fit(data)
    
    normalize_x = pd.DataFrame(normalize.transform(data))
    normalize_x.columns = data_columns
    normalize_x.index = data_index
    
    return normalize_x, normalize

X_train_clean, normalize = standardizer(X_train_concat)

In [50]:
X_train_clean.head()

,Account Length,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Int'l Plan_no,Int'l Plan_yes,VMail Plan_no,VMail Plan_yes
1881,-0.607469,-0.58996,1.714374,-0.177334,1.714428,0.704097,-0.248097,0.703106,0.681734,0.250960,0.682777,-0.919537,-0.999315,-0.918985,-1.178748,0.32451,-0.32451,0.616374,-0.616374
48,0.476222,-0.58996,-0.380475,0.674057,-0.380209,0.602810,0.856959,0.602636,-1.141555,-0.470287,-1.143310,-0.523387,-0.598446,-0.518813,2.591097,0.32451,-0.32451,0.616374,-0.616374
2886,-0.380650,-0.58996,-0.651551,-0.628070,-0.651394,1.264154,0.254201,1.263865,-0.307939,-0.315734,-0.309280,-0.127237,-0.598446,-0.131980,-0.424779,0.32451,-0.32451,0.616374,-0.616374
2294,-1.035905,-0.58996,0.183807,-0.027089,0.183857,-1.689055,1.660636,-1.689469,0.387401,0.766136,0.388672,-1.027578,-0.197577,-1.025698,-1.178748,0.32451,-0.32451,0.616374,-0.616374
314,0.703041,-0.58996,-1.005610,-0.077170,-1.006105,0.088431,0.354661,0.088606,1.055084,0.560066,1.055896,3.113992,-0.999315,3.109416,-1.178748,0.32451,-0.32451,0.616374,-0.616374

## 3. Training Machine Learning

* Choose Score to optimize and Hyperparameter Space
* Cross-Validation: Random vs Grid Search CV (Optional for Beginner Class)
* Kita harus mengalahkan benchmark

### Benchmark:

In [51]:
# benchmark ini adalah proporsi kelas target yang terbesar

y.value_counts(normalize=True)

False.    0.855086
True.     0.144914
Name: Churn?, dtype: float64

In [52]:
benchmark = y.value_counts(normalize=True)[0]

benchmark

0.85508550855085508

In [53]:
# Import classifier

from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [54]:
# Kernel Nearest Neighbor Classifier: fitting

knn = KNeighborsClassifier()
knn.fit(X_train_clean, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [55]:
# Logistic Regression : fitting

logreg = LogisticRegression(random_state=123)
logreg.fit(X_train_clean, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=123, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [56]:
# Random Forest : fitting

rf = RandomForestClassifier(random_state=123)
rf.fit(X_train_clean, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=123,
            verbose=0, warm_start=False)

In [57]:
# Predict

knn_train_predicted = knn.predict(X_train_clean)
logreg_train_predicted = logreg.predict(X_train_clean)
rf_train_predicted = rf.predict(X_train_clean)

In [58]:
from sklearn.metrics import confusion_matrix

In [59]:
knn_train_matrix = pd.DataFrame(confusion_matrix(y_train, knn_train_predicted))
knn_train_matrix

      0    1
0  2264   14
1   186  202

In [60]:
logreg_train_matrix = pd.DataFrame(confusion_matrix(y_train, logreg_train_predicted))
logreg_train_matrix

      0   1
0  2217  61
1   308  80

In [61]:
rf_train_matrix = pd.DataFrame(confusion_matrix(y_train, rf_train_predicted))
rf_train_matrix

      0    1
0  2278    0
1    15  373

In [62]:
# Cek performa model di data training

print("Score train knn :", knn.score(X_train_clean, y_train))
print("Score train logreg :", logreg.score(X_train_clean, y_train))
print("Score train rf :", rf.score(X_train_clean, y_train))
print("Benchmark :", benchmark)

Score train knn : 0.924981245311
Score train logreg : 0.861590397599
Score train rf : 0.994373593398
Benchmark : 0.855085508551

## Export necessary object

Beberapa objek akan diperlukan kembali untuk mengolah future data. Objek-objek tersebut dapat disimpan menggunakan package joblib.

In [63]:
# import package joblib untuk save and load object python

from sklearn.externals import joblib

In [64]:
# dump imput_numerical

joblib.dump(imput_numerical, 'imput_numerical.pkl')

['imput_numerical.pkl']

In [65]:
# dump standardizer

joblib.dump(normalize, 'standardizer.pkl')

['standardizer.pkl']

In [66]:
# dump dummy_columns

joblib.dump(dummies_columns, 'dummies_columns.pkl')

['dummies_columns.pkl']

In [67]:
# dump machine learning model

joblib.dump(knn, 'knn.pkl')
joblib.dump(logreg, 'logreg.pkl')
joblib.dump(rf, 'rf.pkl')

['rf.pkl']

## 4. Test Prediction

### Preprocessing Test Data

Buat lah sebuah function untuk preprocessing data test. Preprocessing yang dilakukan yakni imputation (numeric and categorical) dan standardizing.
 

Function dinamakan dengan `extract_test` dan menerima 6 argument yaitu:
 1. `data` : Data yang ingin diolah
 2. `numerical_columns`   : Nama kolom numerik
 3. `categorical_columns` : Nama kolom kategorik
 4. `dummies_columns`     : Nama kolom dummy
 5. `imput_numericals`    : Imputer untuk data numerical (hasil preprocessing data training)
 6. `standardizer`        : Standardizer (hasil preprocessing data training)
 
 
Lalu assign function tersebut pada suatu variabel yang dengan nama `x_test_clean`

In [68]:
# function definition

def extract_test(data, numerical_columns, categorical_columns, dummies_columns, imput_numericals, standardizer):
        
    numerical_data = data[numerical_columns]
    categorical_data = data[categorical_columns]
    
    numerical_data = pd.DataFrame(imput_numericals.transform(numerical_data))
    numerical_data.columns = numerical_columns
    numerical_data.index = data.index
    
    categorical_data = categorical_data.fillna(value="KOSONG")
    categorical_data.index = data.index
    categorical_data = pd.get_dummies(categorical_data) 
    categorical_data.reindex(categorical_data.index, dummies_columns)
    x_test = pd.concat([ numerical_data, categorical_data], axis = 1)
    x_test_transform = pd.DataFrame(standardizer.transform(x_test))
    x_test_transform.columns = x_test.columns
    
    return x_test_transform

In [69]:
# load necessary object

dummies_columns = joblib.load('dummies_columns.pkl')
imput_numerical = joblib.load('imput_numerical.pkl')
standardizer = joblib.load('standardizer.pkl')

In [70]:
# preprocess test data

X_test_clean = extract_test(data = X_test, numerical_columns = numerical_columns, 
                            categorical_columns = cat_columns, dummies_columns = dummies_columns, 
                            imput_numericals = imput_numerical, standardizer = standardizer)

In [71]:
X_test_clean.head()

,Account Length,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Int'l Plan_no,Int'l Plan_yes,VMail Plan_no,VMail Plan_yes
0,-0.733480,-0.589960,-0.028260,0.623975,-0.028752,-0.658311,-0.298327,-0.659073,-0.373127,0.560066,-0.375124,1.205269,-0.598446,1.201928,1.083159,-3.081568,3.081568,0.616374,-0.616374
1,0.325009,-0.589960,-0.437640,2.026266,-0.437700,1.109245,-1.403383,1.109656,-0.507454,1.178277,-0.506813,0.593036,0.203291,0.588330,0.329190,0.324510,-0.324510,0.616374,-0.616374
2,-1.388735,1.530943,-0.810140,0.173239,-0.809766,0.428041,0.053282,0.427399,0.683710,-0.418769,0.682777,-0.847510,0.604160,-0.852290,0.329190,0.324510,-0.324510,-1.622391,1.622391
3,-2.270809,-0.589960,0.060255,0.123157,0.060197,0.275117,-1.152234,0.275526,0.106894,-1.397604,0.107735,-0.559400,0.604160,-0.558830,0.329190,0.324510,-0.324510,0.616374,-0.616374
4,-0.305044,-0.589960,-0.764038,0.774221,-0.764207,0.696153,1.911785,0.696096,-0.432389,0.508548,-0.432189,-0.235277,-0.197577,-0.238692,1.083159,0.324510,-0.324510,0.616374,-0.616374

### Predict Test Data

In [72]:
# load necessary object

knn = joblib.load('knn.pkl')
logreg = joblib.load('logreg.pkl')
rf = joblib.load('rf.pkl')

In [73]:
knn_test_predicted = knn.predict(X_test_clean)
logreg_test_predicted = logreg.predict(X_test_clean)
rf_test_predicted = rf.predict(X_test_clean)

In [74]:
knn_test_matrix = pd.DataFrame(confusion_matrix(y_test, knn_test_predicted))
knn_test_matrix

     0   1
0  563   9
1   63  32

In [75]:
logreg_train_matrix = pd.DataFrame(confusion_matrix(y_test, logreg_test_predicted))
logreg_train_matrix

     0   1
0  557  15
1   72  23

In [76]:
rf_train_matrix = pd.DataFrame(confusion_matrix(y_test, rf_test_predicted))
rf_train_matrix

     0   1
0  563   9
1   27  68

In [77]:
print("Score test knn :", knn.score(X_test_clean, y_test))
print("Score test logreg :", logreg.score(X_test_clean, y_test))
print("Score test rf :", rf.score(X_test_clean, y_test))
print("Benchmark :", benchmark)

Score test knn : 0.892053973013
Score test logreg : 0.869565217391
Score test rf : 0.946026986507
Benchmark : 0.855085508551

### RandomizedSearchCV

In [78]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

In [79]:
knn_param = {'n_neighbors':[1,2,3,4,5], 'p':[1,2,3]}

In [80]:
random_knn = RandomizedSearchCV(knn, param_distributions=knn_param, n_iter=3, cv=5, n_jobs=4, random_state=123)

In [81]:
random_knn.fit(X_train_clean, y_train)

RandomizedSearchCV(cv=5, error_score='raise',
          estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform'),
          fit_params={}, iid=True, n_iter=3, n_jobs=4,
          param_distributions={'n_neighbors': [1, 2, 3, 4, 5], 'p': [1, 2, 3]},
          pre_dispatch='2*n_jobs', random_state=123, refit=True,
          return_train_score=True, scoring=None, verbose=0)

In [82]:
random_knn.best_params_

{'n_neighbors': 3, 'p': 2}

In [83]:
random_knn.best_score_

0.88859714928732181

In [84]:
best_random_knn = KNeighborsClassifier(n_neighbors=random_knn.best_params_.get('n_neighbors'),
                                      p=random_knn.best_params_.get('p'))

In [85]:
best_random_knn.fit(X_train_clean, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [86]:
best_random_knn.score(X_test_clean, y_test)

0.8935532233883059

### GridSearchCV

In [87]:
grid_knn = GridSearchCV(knn, param_grid=knn_param)

In [88]:
grid_knn.fit(X_train_clean, y_train)

GridSearchCV(cv=None, error_score='raise',
       estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform'),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'n_neighbors': [1, 2, 3, 4, 5], 'p': [1, 2, 3]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=0)

In [89]:
grid_knn.best_params_

{'n_neighbors': 5, 'p': 1}

In [90]:
grid_knn.best_score_

0.89272318079519875

In [91]:
best_grid_knn = KNeighborsClassifier(n_neighbors=grid_knn.best_params_.get('n_neighbors'),
                                    p=grid_knn.best_params_.get('p'))

In [92]:
best_grid_knn.fit(X_train_clean, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=1,
           weights='uniform')

In [93]:
best_grid_knn.score(X_test_clean, y_test)

0.89805097451274363

### RandomizeSearchCV vs GridSearchCV

In [94]:
print('RandomizeSearchCV KNN =', best_random_knn.score(X_test_clean, y_test))
print('GridSearchCV KNN =', best_grid_knn.score(X_test_clean, y_test))

RandomizeSearchCV KNN = 0.893553223388
GridSearchCV KNN = 0.898050974513